<app-navbar></app-navbar>

<!-- HOME -->
<div class="container text-center mt-5">
  <h1 class="display-4 fw-bold animate__animated animate__fadeInDown"> Koduję, więc istnieję! - From Nova</h1>
  <p class="lead animate__animated animate__fadeIn animate__delay-1s">
    Sprawdź, jak działa mój <strong>sklep testowy</strong> – żadnych bugów, tylko solidny kod! 😎
  </p>
  <a routerLink="products" class="btn btn-success btn-lg animate__animated animate__fadeInUp animate__delay-2s">
    Sprawdź ofertę
  </a>
</div>


<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="images/products/burgers/b3.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-md-6">
            <div class="carousel-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="images/products/soups/s2.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-md-6">
            <div class="carousel-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="images/products/pastas/pasta2.png" class="d-block w-100" alt="...">
          </div>
          <div class="col-md-6">
            <div class="carousel-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button  class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- HOME -->
<aside class="menu-sidebar">
  <app-product-category-menu></app-product-category-menu>
</aside>
<div class="container-fluid" mt-5>
  <router-outlet></router-outlet>
</div>


